@import '../../variables';

.skills {
    margin: 8rem auto 0 auto;
    background-color: #343635;
    padding: 2rem;
    border-radius: 2rem;
    width: 80%;
    font-family: $font-text;
    opacity: 0.8;
    transition: opacity 0.2s ease;
        &:hover {
            opacity: 1;
        }
    h2 {
        font-size: 2.5rem;
        color: #F5F5F3;
        text-align: center;
    }
    ul {
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        li {
            background-color: #F5F5F3;
            color: #343635;
            font-size: 1.5rem;
            padding: 1rem;
            border-radius: 1.5rem;
            text-align: center;
        }
    }
}