@import '../variables';

.hello {
    position: absolute;
    margin-top: clamp(7rem, 30vw ,20rem);
    font-size: clamp(5rem, 18vw ,16rem);
    z-index: -1;
    color: $orange;
    font-family: $font-title;
}

.my-work {
    position: absolute;
    margin-left: 9%;
    margin-top: clamp(2rem, 11vw ,7rem);
    font-size: clamp(5rem, 18vw ,16rem);
    z-index: -1;
    color: $orange;
    font-family: $font-title;
}

.story {
    position: absolute;
    margin-left: 40%;
    margin-top: 1rem;
    font-size: clamp(5rem, 18vw ,16rem);
    z-index: -1;
    color: $orange;
    font-family: $font-title;
}

.my-skills {
    position: absolute;
    margin-top: clamp(1.5rem, 3.7vw, 3rem);
    font-size: clamp(5rem, 18vw ,16rem);
    z-index: -1;
    color: $orange;
    font-family: $font-title;
}

.my-technos {
    position: absolute;
    margin-top: clamp(1.5rem, 3.7vw, 3rem);
    margin-left: 20%;
    font-size: clamp(5rem, 18vw ,16rem);
    z-index: -1;
    color: $orange;
    font-family: $font-title;
}