@import '../../variables';

.contact {
    margin-top: clamp(1.5rem, 3.5vw, 3rem);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        font-size: clamp(5rem, 18vw ,16rem);
        z-index: -1;
        color: $orange;
        font-family: $font-title;
    }
    .contact-text {
        margin-top: -10rem;
        width: 80%;
        background-color: $dark-gray;
        border-radius: 2rem;
        padding: clamp(1rem, 3vw, 2rem);
        opacity: 0.8;
        transition: opacity 0.2s ease;
        font-family: $font-text;
        font-size:clamp(1rem, 3vw, 2rem);
        color: $light-gray;
        @media (max-width:1024px) {
            width: auto;
            margin-top: -5rem;
            }
        &:hover {
            opacity: 1;
        }
        .name {
            font-size:clamp(1.5rem, 3.5vw, 2.5rem);
        }
        p {
            margin-top: 0.5rem;
        }
        a {
            color: $orange;
            text-decoration: none;
        }
    }

}