@import '../../variables';

.intro {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: clamp(2rem, 17vw, 12.5rem);
    h1 {
        display: block;
        width: 60%;
        font-size: clamp(1.75rem, 3.6vw, 3rem);
        line-height: 3.5rem;
        color: $light-gray;
        font-family: $font-text;
        background-color: $dark-gray;
        padding: clamp(1rem, 3vw, 2rem);
        border-radius: 1.5rem;
        opacity: 0.8;
        transition: opacity 0.2s ease;
        @media(max-width: 1024px){
            width: auto;
        }
        &:hover {
            opacity: 1;
        }
    }
}