@import '../../variables';


.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    .nav-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: clamp(1rem, 3vw, 2rem);
        gap: 2rem;
        flex-wrap: wrap;
        a {
            color: $light-gray;
            background-color:  $dark-gray;
            text-decoration: none;
            font-family: $font-text;
            font-size: clamp(1rem, 1.8vw, 1.2rem);
            padding: clamp(0.5rem, 1.5vw, 1rem);
            border-radius: 1.5rem;
            opacity: 0.8;
            transition: opacity 0.2s ease;
        &:hover {
            opacity: 1;
        }
        }
    }
}