@import '../../variables';

.technos {
    margin-top:clamp(2rem, 9vw, 7rem);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    
        
  
    .technos-list {
      width: 50%;
      padding: 1rem;
      margin-top: 2rem;
      background-color: $dark-gray;
      padding: clamp(1rem, 3vw, 2rem);
      border-radius: 2rem;
      transition: opacity 0.2s ease;
      opacity: 0.8;
      font-family: $font-text;
      @media (max-width:1024px) {
        width: auto;
        margin: auto;
        }
        &:hover {
            opacity: 1;
        }
  
      h2 {
        font-size: clamp(1.5rem, 3.5vw, 2.5rem);
        line-height: clamp(1.5rem, 3.5vw, 2.9rem);
        color: $light-gray;
        text-align: center;
      }
  
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: clamp(1rem, 3vw, 2rem);
        margin-top: clamp(1rem, 3vw, 2rem);
  
        li {
          background-color: $light-gray;
          color: $dark-gray;
          font-size: clamp(1rem, 2vw, 1.5rem);
          padding: clamp(0.5rem, 1.5vw, 1rem);
          border-radius: 1.5rem;
          text-align: center;
        }
      }
    }
  
    .technos-logos {
      width: 50%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 2rem;
      padding: 2rem;
      @media (max-width:1024px) {
        display: none;
        }
  
      .techno-logo {
        display: flex;
        justify-content: center;
  
        img {
          max-width: 5rem;
          filter: grayscale(100%);
          transition: all 0.2s ease;
          opacity: 0.8;
  
          &.hovered {
            filter: grayscale(0%);
            transform: scale(1.2);
            opacity: 1;
          }
          &:hover {
            filter: grayscale(0%);
            transform: scale(1.2);
            opacity: 1;
          }
        }
      }
    }
  }
  